<h1>Create new password</h1>
<form action="/users/reset-password/<%=user_token.user%> " method="post">
    <input type="text" name="password" placeholder="Enter new password">
    <input type="text" name="confirm_password" placeholder="Confirm new password">
    <input type="submit" value="reset">
</form>